@media screen and (max-width: 576px) {
  header {
    padding: 26px 12px;
  }

  /* nav {
    display: none;
  } */

  .container-width {
    width: auto;
  }

  .logo-title {
    font-size: 18px;
  }

  .menus {
    display: none;
  }

  .logo {
    order: 2;
  }

  .banner-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .banner-content h1 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 8px;
  }

  .banner-content p {
    margin-bottom: 16px;
    font-size: 13px;
  }

  .banner a.btn-primary {
    background-color: #e02c6d;
    color: #fff;
    padding: 8px 24px;
    font-size: 14px;
    display: inline-block;
  }

  .mobile-view {
    display: block;
    order: 1;
  }

  .mobile-view-shopping {
    display: block;
    order: 3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 26px 12px;
  }

  .banner-content h1 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
  }
}
