@media screen and (max-width: 576px) {
  header {
    padding: 26px 12px;
  }

  /* nav {
    display: none;
  } */

  .container-width {
    width: auto;
  }

  .logo-title {
    font-size: 18px;
  }

  .menus {
    display: none;
  }

  .logo {
    order: 2;
  }

  .banner {
    padding-bottom: 12px;
  }

  .banner-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .banner-content h1 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 8px;
  }

  .banner-content p {
    margin-bottom: 16px;
    font-size: 13px;
  }

  .banner a.btn-primary {
    background-color: #e02c6d;
    color: #fff;
    padding: 8px 24px;
    font-size: 14px;
    display: inline-block;
  }

  .mobile-view {
    display: block;
    order: 1;
  }

  .mobile-view-shopping {
    display: block;
    order: 3;
  }

  /* Companies Logos  */

  .companies-logos {
    padding: 26px 12px;
  }

  .companies-logos-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .companies-logos img {
    width: 50px;
  }

  /* Gallery */

  .section-padding {
    padding-top: 30px;
  }

  .gallery-container {
    padding: 0 12px;
  }

  .gallery-container h3 {
    margin-bottom: 22px;
    font-size: 20px;
  }

  .gallery-container-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-btn {
    margin-top: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 26px 12px;
  }

  .banner-content h1 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
  }

  /* Companies */

  .companies-logos-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  /* gallery */
  .gallery-btn {
    margin-top: 50px;
    text-align: center;
  }
}
