* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* Google Fonts */

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* Common Classes */

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.color-3a3a3a {
  color: #3a3a3a;
}

.color-787885 {
  color: #787885;
}

.color-000000 {
  color: #000;
}

.color-18191F {
  color: #18191f;
}

.color-5E6366 {
  color: #5e6366;
}

.color-FB8200 {
  color: #fb8200;
}
/* Shared Styles */

.container-width {
  max-width: 1200px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
  gap: 24px;
}

.section-padding {
  padding-top: 100px;
}

.btn-primary {
  background-color: #e02c6d;
  color: #fff;
  padding: 10px 24px;
  font-size: 16px;
  display: inline-block;
}

.btn-secondary {
  color: #e02c6d;
  font-size: 16px;
  display: inline-block;
}

/* Header Area */

header {
  padding: 86px 0 50px;
}

nav {
  justify-content: space-between;
  align-items: center;
  display: none;
}

.logo-title {
  font-size: 24px;
}

.menu-item {
  align-items: center;
  gap: 34px;
}

.mobile-view {
  display: none;
}

.mobile-view {
  display: none;
}

.mobile-view-shopping {
  display: none;
}

/* Banner Area */

.banner {
  padding: 50px 0;
}

.banner-container {
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  max-width: 580px;
}

.banner-content h1 {
  font-size: 52px;
  line-height: 72px;
  margin-bottom: 16px;
}

.banner-content p {
  margin-bottom: 16px;
}

.banner-content a {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.banner a.btn-primary i {
  margin-left: 8px;
}

.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px;
  /* border: 2px solid red; */
  background-position: center;
}

/* Companies Logos */

.companies-logos-container {
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}

.companies-logos img {
  width: auto;
}

/* Gallery - Card Area */

.gallery-container {
  padding: 0 76px;
}

.gallery-container h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

.gallery-container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-container-card {
  padding: 18px 14px;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.gallery-container-card h4 {
  font-size: 28px;
  line-height: 40px;
  margin: 16px 0 10px;
}

.gallery-container-card p.price {
  font-size: 24px;
  line-height: 150%;
  margin: 6px 0;
}

.gallery-container-card .rating {
  align-items: center;
  gap: 8px;
}

.gallery-container-card .rating i {
  font-size: 10px;
}

.gallery-container-card span.rating-number {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}

.gallery-container-card .details {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 1.8%;
  font-weight: 600;
}

.gallery-btn {
  margin-top: 50px;
  text-align: right;
}

/* Feature Area */

.feature-area {
  padding-bottom: 100px;
}

.feature-container {
  padding: 0 45px;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
}

.feature-content {
  max-width: 610px;
}

.feature-content h2 {
  font-size: 38px;
  line-height: 60px;
}

.feature-content p {
  line-height: 26px;
  color: #6c6c6c;
  margin: 16px 0;
  font-size: 16px;
}

footer {
  background-color: rgb(10, 8, 38);
  text-align: center;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  max-width: 265px;
  margin: 0 auto;
}

.footer-container p {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 700;
  margin: 14px 0;
}

.link-icons a {
  display: inline-block;
  background-color: rgba(34, 33, 60, 1);
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 16px;
}

.link-icons a:last-child {
  margin-right: 0;
}

.link-icons a i {
  color: #fff;
}
